@charset "utf-8";
/* CSS Document */
body
{
	background-color: rgba(195,113,197,1.00);
}
.wall
{
	overflow: hidden;
	background-color: rgb(30, 117, 63);
}
.div1
{
	text-align: center;
	padding: 5px;
}
.div1 img 
{
/*	margin-left: 2rem;*/
	width: 60px;
	height: 60px;
}

.nav_list ul 
{
	list-style-type: none;
}
.nav_list ul li
{
	float: left;
}
.nav_list ul li a
{
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 20px;
}
.nav_list ul li a:hover{
	color: yellow;
}
.btn1{
	padding: 20px;
}
.popup
{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(89,87,87,0.20);
	top: 0;
	left: 0;
}
.form
{
	width: 40%;
	overflow: hidden;
	background-color: white;
	margin: auto;
	padding: 10px;
}
.nav_bg{
	background-color: rgb(41, 45, 48);

}
.inp1{
	background-color: blue;
}
.container{
	display: grid;
	align-items: center;
	align-content: center;
	

}